<h2>User info</h2>
<% if @user.errors.any? %>
  <h3><%= @user.errors.count %>error prohibited this obj from<br>being saved:</h3>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
  
  <%= form_with model:@user, url: user_path(@user.id), method: :patch do |f| %>
  <p>Name</p>
    <%= f.text_field :name, value: @user.name %><br>
    
  <p>Image</p>
    <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %>
    
  <p>Introduction</p>
    <%= f.text_area :introduction %>
  <br><%= f.submit 'Update User', class: 'btn btn-secondary' %>
<% end %>