<div class="container px-5">
  <div class="row">
    <div class="col-md-3">
      <%= render 'user', user: @user %>

      <%= render 'books/book', book: @book %>
  <div><%= flash[:notice] %></div>  </div>
    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <table class="table">
        <thead>
          <tr>
            <th><span></span></th>
            <th>Title</th>
            <th>Opinion</th>
          </tr>
        </thead>
        <tbody>
          <% @books.each do |book| %>
          <tr>
            <td><%= link_to user_path(@user.id) do %>
                <%= image_tag book.user.get_profile_image(100, 100) %>
                <% end %></td>
            <td><%= link_to book_path(book.id) do %>
                <%= book.title %>
                <% end %></td>
            <td><%= book.body %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>