<%= render 'users/user', user: @user %>

<%= render 'book', book: @book %>

<div class="editing_book">
  <%= form_with model:@book, url: book_path(@book.id), method: :patch do |f| %>
    <h1>Editing book</h1>
      <h3>Title</h3><br>
        <%= f.text_field :title %>
      <h3>Opinion</h3><br>
        <%= f.text_area :body %>
      <br><%= f.submit 'Update Book' %>
  
      <br><%= link_to "Show", book_path(@book.id) %>
          <%= link_to "Back", "/books" %>
  <% end %>
</div>