<div class="container">
  <div class="row">
    <div class="col-lg-4 side_bar">
      <%= render 'users/user', user: @book.user %>

      <%= render 'book', book: @book1 %>
    </div>
    <div class="col-lg-8 book_detail">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@book.user.id) do %>
              <%= image_tag @book.user.get_profile_image(100, 100) %><br>
              <%= @book.user.name %>
              <% end %>
            </td>    
            <td>
              <%= link_to book_path(@book.id) do %>
              <%= @book.title %></td>
              <% end %>
            </td>
            <td><%= @book.body %></td>
            <td>
              <% if @book.user == current_user %>
            <td><%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-success btn-block btn-sm w-auto" %></td>
            <td><%= link_to "Destroy", book_path(@book), class: "btn btn-danger btn-block btn-sm w-auto", method: :delete, "data-confirm" => "本当に消しますか？" %></td>
              <% end %>
            </td>    
          </tr>
        </tbody>
     </table>
    </div>
  </div>
</div>